{% extends 'layouts.html' %}

<h1>{% block title %}Chat{% endblock %}</h1>

{% block content %}
    <div class="chat-block">
        <div class="chat-header">
            <div class="d-flex justify-content-between p-3">
                <p><a class="btn btn-secondary" href="{{ url_for('info') }}">Info</a></p>
                <p>Chat App</p>
                <p><a onclick="leave_room()" class="btn btn-secondary" href="{{ url_for('logout') }}">Leave</a></p>

            </div>
        </div>
        <div class="chat-body">
            <div class="message-content">
                <ul id="chat" data-user="{{ user }}">
                    {% for message in messages %}
                        <li class="w-75 {{ 'float-right' if message.user == user }} ">
                            {{ message.user + ': ' + message.text }}
                            <br>
                            <small>{{ message.created_at.strftime("%I:%M %p") }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="message-box">
            <form class="mt-4 pb-2">
                <div class="row mx-0 w-100">
                    <div class="col-8">
                        <input type="text" id="text" class="form-control" name="message" id="message"
                               placeholder="type your message .." autocomplete="off">
                    </div>
                    <div class="col-4">
                        <button type="button" id="send" class="btn btn-secondary btn-block">Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}