{% extends 'layouts.html' %}

<h1>{% block title %}Chat{% endblock %}</h1>

{% block content %}
    <div class="chat-block">
        <div class="chat-header">
            <div class="d-flex justify-content-between p-3">
                <p><a class="btn btn-secondary" href="/info">Info</a></p>
                <p>Chat Header</p>
                <p><a class="btn btn-secondary" href="/logout">Leave</a></p>

            </div>
        </div>
        <div class="chat-body">

            <div class="message-content">
                <ul id="chat" data-user="{{ user }}">
                </ul>
            </div>
            <div class="message-box">
                <form class="mt-4 pb-2">
                    <div class="row mx-0 w-100">
                        <div class="col-8">
                            <input type="text" id="text" class="form-control" name="message" id="message"
                                   placeholder="type
                            your message ..">
                        </div>
                        <div class="col-4">
                            <button type="button" id="send" class="btn btn-secondary btn-block">Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('join', {});
            });
            socket.on('status', function (data) {
                let tx = GenerateMessageHtml(data)
                $('#chat').append(tx);
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                console.log(data)
                let tx = GenerateMessageHtml(data)
                $('#chat').append(tx + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#send').click(function (e) {
                text = $('#text').val();
                $('#text').val('');

                $.ajax({
                    url: "ping",
                    type: "post",
                    data: {"msg": text}
                }).success(function (data) {
                    console.log(data)
                });
            });
        });

        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();
            });
        }

        function GenerateMessageHtml(data) {
            if (data.type === 'status') {
                return "<p>" + data.msg + "</p>";
            } else {
                let current_user = $("#chat").attr('data-user')
                if (current_user === data.user) {
                    return "<li class=\"w-75 float-right\">" + data.msg + "</li>";
                } else {
                    return "<li class=\"w-75\">" + data.msg + "</li>";
                }
            }
        }
    </script>
{% endblock %}