{% extends 'layouts.html' %}

<h1>{% block title %}Login{% endblock %}</h1>

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form class="py-3" method="POST" action="{{ url_for('home') }}">
        {{ form.csrf_token }}
        <div class="row mx-0 align-items-end">
            <div class="col-8">
                <label for="username" class="visually">Input your username to login</label>
                {{ form.username(type='text',size=3, required='required', class='form-control', id='username') }}

            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-secondary btn-block">Send</button>
            </div>
        </div>
    </form>

{% endblock %}