{% extends 'layouts.html' %}

<h1>{% block title %}Set Username{% endblock %}</h1>

{% block content %}

    <form class="py-3" method="post" action="{{ url_for('home') }}">
        <div class="row mx-0 align-items-end">
            <div class="col-8">
                <label for="username" class="visually">Input your username to login</label>
                <input type="text" required="required" class="form-control" name="username" id="username">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-secondary btn-block">Send</button>
            </div>
        </div>
    </form>

{% endblock %}